/* PIXELS - absolute value. one dot on the screen  */
/* font size - size of the font */
/* width - width of an element */
h1
{
    font-size: 60px;
    background-color: blue;
    color: white;
    width: 1000px;
    height: 800px;

}